@import '/src/scss/variables.scss';

.map {
    margin-bottom: 100px;
}

.title {
    margin: 0 0 40px 0;
    padding: 0;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}

.input {
    width: 100%;
    padding: 22px 24px;
    border-radius: 23px;
    background: #F4F4F4;
    margin-bottom: 37px;
    background-image: url('./images/icons/Search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-position: 98% 15px;
    box-shadow: 0px 0px 15px 0px rgb(178 179 178 / 20%);
}


//placeholders for inputs 
::-webkit-input-placeholder {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

:-moz-placeholder {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}


::-moz-placeholder {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

:-ms-input-placeholder {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

::-ms-input-placeholder {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

::placeholder {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}